.L {
    font-size: 34px;
}

.M {
    font-size: 24px;
}

.S {
    font-size: 18px;
}

.main {
    color: #232323;
}

.accent {
    color: #0F0F0F;
}

.inverted {
    color: #FBF4F4;
}

.center {
    text-align: center;
}

.start {
    text-align: start;
}

.end {
    text-align: end;
}
